{
  "root": true,
  "ignorePatterns": ["lib"],
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module"
  },
  "env": {
    "browser": true,
    "jest": true,
    "node": true
  },
  "extends": ["eslint:all", "prettier"],
  "rules": {
    "capitalized-comments": "off",
    "complexity": "off",
    "max-classes-per-file": "off",
    "max-lines-per-function": "off",
    "max-lines": "off",
    "max-params": "off",
    "max-statements": "off",
    "multiline-comment-style": "off",
    "new-cap": "off",
    "no-magic-numbers": "off",
    "no-plusplus": "off",
    "no-ternary": "off",
    "no-warning-comments": "off",
    "node/no-unsupported-features/es-syntax": "off",
    "one-var": "off",
    "require-await": "off",
    "sort-imports": "off",
    "sort-keys": "off"
  }
}
